<div class="sidebar" data-color="purple" data-background-color="white">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="/" class="simple-text logo-mini">
            {{sessionUser.fullName}}
        </a>
        <a href="/" class="simple-text logo-normal">
            {{sessionUser.role}}
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {{#if dashboard}} active {{/if}} ">
                <a class="nav-link" href="/">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {{#if product}} active {{/if}} ">
                <a class="nav-link" href="/product/productList/1">
                    <i class="material-icons">content_paste</i>
                    <p>Product Management</p>
                </a>
            </li>
            {{!-- <li class="nav-item {{#if upload}} active {{/if}} ">
                <a class="nav-link" href="/product-upload/new">
                    <i class="material-icons">library_books</i>
                    <p>Product Upload</p>
                </a>
            </li> --}}
            <li class="nav-item {{#if person}} active {{/if}} ">
                <a class="nav-link" href="/user/userList">
                    <i class="material-icons">person</i>
                    <p>User Management</p>
                </a>
            </li>
            <li class="nav-item {{#if orders}} active {{/if}} ">
                <a class="nav-link" href="/order/orderList">
                    <i class="material-icons">receipt</i>
                    <p>Order Management</p>
                </a>
            </li>
            <li class="nav-item {{#if coupon}} active {{/if}} ">
                <a class="nav-link" href="/coupon/couponList/1">
                    <i class="material-icons">gift</i>
                    <p>Coupon Management</p>
                </a>
            </li>
            <!-- your sidebar here -->
        </ul>
    </div>
</div>

